.add-task {
  display: grid;
  grid-template-columns: 1fr min-content;
  column-gap: 1rem;
  margin-bottom: 4rem;
  row-gap: 1rem;
  width: 80vw; }
  .add-task__input {
    border-bottom: 1px solid black;
    font-size: 1.6rem;
    width: 100%; }
  .add-task__button {
    background-color: #202020;
    color: white;
    font-family: "Oswald";
    font-size: 2.2rem;
    padding: 0.5rem 1rem;
    text-transform: uppercase; }
  .add-task__error {
    border: 2px solid #a00000;
    color: #a00000;
    font-family: "Montserrat";
    font-size: 1.3rem;
    font-weight: bold;
    grid-column: 1 / 3;
    padding: 0.5rem;
    text-align: center;
    width: 100%; }
