.filter {
  position: absolute;
  right: 0;
  top: 0; }
  .filter__button {
    background-color: #202020;
    color: white;
    height: 6rem;
    outline-offset: -0.5rem;
    position: absolute;
    right: 0;
    top: 0;
    transition-property: top;
    transition-timing-function: ease-out;
    width: 6rem; }
    .filter__button--not-done {
      transition-duration: 0.1s;
      z-index: 3; }
      .filter__button--not-done.open {
        top: 6.2rem; }
      .filter__button--not-done.closing {
        transition-delay: calc(0.1s * 2); }
    .filter__button--done {
      transition-duration: calc(0.1s * 2);
      z-index: 2; }
      .filter__button--done.open {
        top: 12.4rem; }
      .filter__button--done.closing {
        transition-delay: 0.1s; }
    .filter__button--all {
      transition-duration: calc(0.1s * 3);
      z-index: 1; }
      .filter__button--all.open {
        top: 18.6rem; }
  .filter__image {
    height: 3rem;
    width: 3rem; }
    .filter__image--all {
      position: absolute; }
      .filter__image--all-not-done {
        bottom: 0.8rem;
        left: 0.8rem; }
      .filter__image--all-done {
        right: 0.8rem;
        top: 0.8rem; }
