.header-bar {
  align-items: center;
  background-color: #202020;
  color: white;
  column-gap: 1.6rem;
  display: grid;
  grid-template-columns: 1fr 6rem;
  padding-left: 1.6rem;
  position: relative;
  width: 100vw; }
  .header-bar__button {
    background-color: #202020;
    z-index: 5;
    height: 6rem;
    outline-offset: -0.5rem;
    position: relative;
    width: 6rem; }
    .header-bar__button::before {
      content: "";
      background-color: white;
      display: block;
      height: 100%;
      left: -0.2rem;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 0.2rem; }
  .header-bar__image {
    height: 3rem;
    width: 3rem; }

.search {
  position: relative; }
  .search__input {
    font-size: 1.6rem;
    height: 3rem;
    padding-right: calc(2rem + 0.5rem);
    width: 100%; }
  .search__clear-button--not-active {
    opacity: 0.3; }
  .search__clear-image {
    height: 2rem;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 2rem; }
