$primary-color: #2c001f;
$text-color: #202020;
$background-color: white;
$error-color: #a00000;
$important-color: #a00000;

$primary-font: "Montserrat";
$secondary-font: "Oswald";

$smaller-font-size: 1.3rem;
$basic-font-size: 1.6rem;
$bigger-font-size: 2.2rem;

$filter-button-size: 6rem;
